/.idea/
/gradlew
/gradlew.bat
/.gradle/
/Waterfall-Microservices-Core/build/
/DaylinMicroservices-Waterfall/build/
/DaylinMicroservices-Node/build/
/DaylinMicroservices-NodeManager/build/
/templates.json
/templates/
/instances/
/testserver/
/Waterfall-Microservices-CLIInterface/build/
/testwaterfall/
/run-console-server.bat
